@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Mulish", sans-serif;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  height: 50px;
  padding-bottom: 10px;
  position: sticky;
  z-index: auto;
}
.nav-title {
  font-size: 35px;
  color: #131318;
  font-weight: 800;
}
span {
  color: #fe519a;
}

.nav-list > ul {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-list li {
  list-style: none;
  margin-right: 50px;
}
.nav-list a {
  text-decoration: none;
  gap: 20px;
  color: #424247;
  font-size: 20px;
  font-weight: 400;
}
.banner {
  background-image: url("../miahtravel.com.my/Images/Group13.png");
  /* background-position: center;*/
  background-color: rgba(0, 0, 255, 0.458);
}
.banner-content {
  height: 200px;
  justify-content: center;
  text-align: center;
  padding-top: 300px;
  margin: 0px 130px 50px 130px;
  line-height: 50px;
  padding-bottom: 80px;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 40px;
}
.banner-input-container input,
button {
  width: 175px;
  height: 52px;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
}
.btn-primary {
  background-color: #fe519a;
}
.btn-primary:hover {
  background-color: #ff5400;
  animation-duration: 5s;
}
.info-section {
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 250px;
  margin: 70px 135px;
  padding-bottom: 80px;
}
.info-description,
lu {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.head-text {
  color: #131318;
  font-size: 50px;
  font-weight: 800;
}
